body{
text-align: center;
grid-template-columns: 500px 500px 500px;
background-image: url(Images/Imagedefou.png);
background-size: cover;
width: 100%%;
height: 1000px;
margin: 0;
padding: 0;
z-index: 1;
}

html {
margin: 0;
padding: 0;
}

footer{
background-image: url(Images/1200x680_010_a7a20205_047.jpeg);
width: 100%;
height: 700px;
position: absolute;
top: 1000px;
left: -10px;
}


.nav1 ul li{
	list-style: none;
}




.nav1{
display: flex;

}

header{
position: absolute;
background-image: url(Images/Banniere.png);
background-size: 100%;
z-index: 2;
width: 100%;
height: 29vh;
font-family: "southpark";
color: brown;
}

.titre{
text-align: center;
font-family: "southpark";
}

nav > ul {
display: flex;
width: 100%;
font-family: "southpark";
}

.nav1 ul {
display: flex;
justify-content: center;
gap: 50px;
}

a {
text-decoration: none; 
color: brown;

}

.insta {
padding-top: 450px;
font-size: 30px;
color: brown;
font-family: "southpark";
}

.yt {
font-size: 30px;
text-decoration: none; 
color: brown;
font-family: "southpark";
}

.merch{
font-size: 30px;
text-decoration: none; 
color: brown;
font-family: "southpark";
}


@font-face {
font-family: "southpark";
src: url("font/south-park.ttf");
}